@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Poppins', sans-serif;

    list-style-type: none;
}

:root{
    --bg-color:#081b29;
    --main-color: #00abf1;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: var(--bg-color);
}

.wrapper{
    position: relative;
    width: 66rem;
    height: 45rem;
}

.cover{
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover.cover-left{
    z-index: -1;
}

.cover.cover-right.turn{
    transform: rotateY(180deg);
}


